<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../favicon.svg" type="image/x-icon">

  <!-- STYLES -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/dark_mode.css">
  <link rel="stylesheet" href="../css/daily_quest.css">

  <title>RO Tools - Daily Quest</title>
</head>

<body class="dark-mode">

  <main>
    <section id="section-daily-quest">
      <!-- BUILD TEMPLATE BY JS -->
    </section>
  </main>

</body>
<script src="../database/daily_quest_db.js"></script>
<script src="../database/mob_db.js"></script>
<script src="../database/map_db.js"></script>
<script src="../utils/link.js"></script>
<script src="../service/daily_quest_service.js"></script>
<script src="../utils/route.js"></script>
<script src="../controller/daily_quest_controller.js"></script>

</html>